.App {
  text-align: center;
}

li {
  font-size: larger;
  list-style: none;
  color: #262626;
  font-weight: bold;
  background-color: lightgray;
  padding: 1rem;
  border-bottom: 1px solid #26262633;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 1300px;
}